<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>This is a bundle of 3 videos total. Includes &quot;A Little Closer&quot;, &quot;Candle Trifecta&quot;, and &quot;Santa Says Hey&quot; for the low price of $1.99!</string>
		<key>purchaseId</key>
		<string>com.Kirkland.Screenz.3Bundle</string>
		<key>title</key>
		<string>3 Video Bundle</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string>This Christmas Fireplace is scientifically proven to keep you warm. Don&apos;t believe us? Why don&apos;t you just ask the Snow Buddies next door!</string>
		<key>purchaseId</key>
		<string></string>
		<key>title</key>
		<string>Christmas Fireplace</string>
		<key>url</key>
		<string>myfireplace-wide-20sec-ATV</string>
	</dict>
	<dict>
		<key>description</key>
		<string>These guys may look like innocent little snow people...but don&apos;t be fooled by the cuteness. They work for the Grinch....I wouldn&apos;t trust them.</string>
		<key>purchaseId</key>
		<string></string>
		<key>title</key>
		<string>Snow Buddies</string>
		<key>url</key>
		<string>snowmen-loop-ATV</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Is it getting hot in here or what? </string>
		<key>purchaseId</key>
		<string>com.Kirkland.Screenz.CloseFireplace</string>
		<key>title</key>
		<string>A Little Closer</string>
		<key>url</key>
		<string>myfireplace-CLOSE-20sec-ATV</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Guarenteed to keep Grandpa occupied until nap time this Holiday Season. </string>
		<key>purchaseId</key>
		<string>com.Kirkland.Screenz.Candles</string>
		<key>title</key>
		<string>Candle Trifecta</string>
		<key>url</key>
		<string>candles-ATV</string>
	</dict>
	<dict>
		<key>description</key>
		<string>We get it Santa...You can wave. Now bring us presents. </string>
		<key>purchaseId</key>
		<string>com.Kirkland.Screenz.Santa</string>
		<key>title</key>
		<string>Santa Says Hey</string>
		<key>url</key>
		<string>santa-20seconds-appletv-2</string>
	</dict>
</array>
</plist>
